.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  background-color: rgb(5, 66, 10);
  .ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 20px;
    margin-top: 0;

    .li {
      margin: 0 10px;
      text-decoration: none;
      color: #789;
    }
  }
}
